@font-face {
    font-family: 'DSEG';
    src: url('fonts/DSEG7Classic-Regular.woff2') format('woff2'),
         url('fonts/DSEG7Classic-Regular.woff') format('woff');
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cccac0;
}



.wrapper {
    display: grid;
    place-content: center;
    min-height: 100vh;
}


.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    
    width: 25%;
    min-width: 23.75rem;

    padding: 1.25rem;

    border: .5rem solid #333333;
    border-radius: 2.75rem;

    background-color: #e9b15e;
    background-image: linear-gradient(to right, #49307730 0%, #ffffff13 3.31%, #a3da6936 98.03%, #49307746 100%);
}

.screen {
    height: 25%;
    width: 100%;
    min-height: 6.25rem;
    
    font-size: 2.5rem;
    margin-top: 1rem;
    
    background-color: #274A4E;
    
    border-radius: 2.75%;
    border: 8px solid #333333;

    font-family: 'DSEG', monospace;
    position: relative;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25),
                inset 0 4px 0 rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    
    height: 100%;
    width: 100%;

    padding: 2rem;

    border-radius: 2%;
    border: 8px solid #333333;
    
    background-color: #4d4d4dfd;
    box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.15),
                inset 0 4px rgba(0, 0, 0, 0.5);
}

.grid-col-span-2 {
    grid-column: auto / span 2;
}



.off-digits {
    opacity: 10%;
    mix-blend-mode: pass-through;
    background-color: #5AFFE2;
    position: absolute;
    color: #003E33;
    border: 1px solid rgba(0, 75, 71, 0.5);
    box-shadow: 0px 1.61px 12.04px rgba(0, 0, 0, 0.2);
    border-radius: .75rem;
    filter: blur(.5px);
}

.digits {
    z-index: 9;
    color: #74FFFD;
}




button {
    border: transparent;
    font-size: 2rem;
    color: #FFFFFF;
    border-radius: 25%;
    box-shadow: 0px 4.15px 4.15px rgba(0, 0, 0, 0.25),
                inset 0px 2.07px 0px rgba(255, 255, 255, 0.8),
                inset 0px -2.07px 0px rgba(0, 0, 0, 0.5);
}

.num-btn {
    background-color: #343837;
    opacity: 90%;
}

.op-btn {
    background-image: radial-gradient(#70bbe3, #448ccb);
    background-color: #448ccb;
}

.ac-btn {
    background-color: #D74E30;
}

.clear-btn,
.plusminus-btn {
    background-image: radial-gradient(#d6b2f6, #beafed);
    background-color: #d6b2f6;
}

.equals-btn {
    background-image: radial-gradient(#9ce0d4, #88cbbf);
    background-color: #88cbbf;
    border-radius: 5%;
}


.active-btn {
    color: #D74E30;
}
